.default-page{
  background-color: #FFFFFF;
  max-width: 1140px;
  margin: 20px auto 0 auto;
  padding: 35px 65px 100px 65px;
  h3{
    font-size: 20px;
    color: #183784;
    font-weight: 700;
    text-align: center;
  }
  p{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.67;
  }
}