.news-recommended{
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid rgba(151, 151, 151, 0.23);
  &:hover{
    border-color: $mainColor;
    .news-recommended__title{
      color: $mainColor;
    }
  }
  &__title{
    transition: .3s ease;
    width: 100%;
    padding: 0 18px 18px 18px;
    display: block;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
  }
  &__img{
    width: 100%;
    position: relative;
    padding-bottom: 60%;
    display: block;
    background-size: cover;
    background-position: center;
  }
  .news-meta{
    padding: 0 18px;
    margin-top: 15px;
  }
}