.news-lenta{
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(197, 197, 197, .8);
  margin-bottom: 18px;
  &:hover{
    .news-lenta__title{
      color: $blue;
    }
  }
  &__title{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #000000;
    transition: .2s ease;

  }
}